<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}签到{% endblock %}</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="description" content="{% block desc %}签到{% endblock %}">
    <meta name="author" content="{% block author %}binux{% endblock %}">
    <script src="{{ static_url('components/seajs/dist/sea.js') }}"></script>
    <script>
      seajs.config({
        base: "/static",
      })
    </script>
    {% block head %}
    <link href="{{ static_url('components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ static_url('components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ static_url('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}
    <link href="{{ static_url('base.css') }}" rel="stylesheet" type="text/css">
    {% block addheader %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}
    {% block foot %}
    <footer>
      <div class="container">
        <p class="text-center">a <a href="http://binux.me/">Binux</a>'s project.</p>
      </div>
    </footer>
    {% endblock %}
  </body>
</html>
<!-- vim: set et sw=2 ts=2 sts=2 ff=unix fenc=utf8: -->

