{% extends "base.html" %}

{% block addheader %}
<link href="{{ static_url('my.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<header>
  <div class="container">
    <a href="/" class="btn btn-default pull-left index">首页</a>
    <h1 class="text-center">
      <a href="/">签到</a>
      <sup>alpha</sup>
    </h1>
    <a href="/logout" class="btn btn-default pull-right logout">登出</a>
    <div class="clearfix"></div>
  </div>
</header>

<section>
  <div class="container">
    <h2>
      我的发布
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>来自</th>
          <th>创建时间</th>
          <th>最近修改时间</th>
          <th>最近成功时间</th>

          <th>发布到</th>
          <th>最近修改时间</th>
          <th>最近成功时间</th>

          <th>状态</th>
          <th>留言</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for each in pushs %}
        <tr>
          <td>
            {{ each.from_user_name or '无名氏' }}
            {% if each.from_user_email %}<a href="mailto:{{ each.from_user_email }}">email</a>{% endif %}
            的
            {{ each.from_tpl.sitename or "未命名" }}
            {% if each.from_tpl.siteurl %}<a href="{{ each.from_tpl.siteurl if each.from_tpl.siteurl.startswith('http:') else 'http://'+each.from_tpl.siteurl }}" target="_blank" class="glyphicon glyphicon-share"></a>{% endif %}
          </td>
          <td>{{ format_date(each.from_tpl.ctime) }}</td>
          <td>{{ format_date(each.from_tpl.mtime ) }}</td>
          <td>{{ format_date(each.from_tpl.last_success) }}</td>

          <td>
            {{ each.to_user_name or '无名氏' }}
            {% if each.to_user_email %}<a href="mailto:{{ each.to_user_email }}">email</a>{% endif %}
            的
            {{ each.to_tpl.sitename or "未命名" if each.to_tpl else '新模板' }}
            {% if each.to_tpl.siteurl %}<a href="{{ each.to_tpl.siteurl if each.to_tpl.siteurl.startswith('http:') else 'http://'+each.to_tpl.siteurl }}" target="_blank" class="glyphicon glyphicon-share"></a>{% endif %}
          </td>
          <td>{{ format_date(each.to_tpl.mtime ) }}</td>
          <td>{{ format_date(each.to_tpl.last_success) }}</td>

          <td>{{ {0:'待处理', 1:'取消', 2:'拒绝', 3:'成功'}[each.status] }}</td>
          <td>{{ each.msg }}</td>
          <td>
            {% if each.status == 0 %}
            <a data-method="post" href="/push/{{ each.id }}/cancel">取消</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% if pulls %}
<section>
  <div class="container">
    <h2>
      我的审核
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>来自</th>
          <th>创建时间</th>
          <th>最近修改时间</th>
          <th>最近成功时间</th>

          <th>发布到</th>
          <th>最近修改时间</th>
          <th>最近成功时间</th>

          <th>状态</th>
          <th>留言</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for each in pulls %}
        <tr>
          <td>
            {{ each.from_user_name or '无名氏' }}
            {% if each.from_user_email %}<a href="mailto:{{ each.from_user_email }}">email</a>{% endif %}
            的
            {{ each.from_tpl.sitename or "未命名" }}
            {% if each.from_tpl.siteurl %}<a href="{{ each.from_tpl.siteurl if each.from_tpl.siteurl.startswith('http:') else 'http://'+each.from_tpl.siteurl }}" target="_blank" class="glyphicon glyphicon-share"></a>{% endif %}
          </td>
          <td>{{ format_date(each.from_tpl.ctime) }}</td>
          <td>{{ format_date(each.from_tpl.mtime ) }}</td>
          <td>{{ format_date(each.from_tpl.last_success) }}</td>

          <td>
            {{ each.to_user_name or '无名氏' }}
            {% if each.to_user_email %}<a href="mailto:{{ each.to_user_email }}">email</a>{% endif %}
            的
            {{ each.to_tpl.sitename or "未命名" if each.to_tpl else '新模板' }}
            {% if each.to_tpl.siteurl %}<a href="{{ each.to_tpl.siteurl if each.to_tpl.siteurl.startswith('http:') else 'http://'+each.to_tpl.siteurl }}" target="_blank" class="glyphicon glyphicon-share"></a>{% endif %}
          </td>
          <td>{{ format_date(each.to_tpl.mtime ) }}</td>
          <td>{{ format_date(each.to_tpl.last_success) }}</td>

          <td>{{ {0:'待处理', 1:'取消', 2:'拒绝', 3:'成功'}[each.status] }}</td>
          <td>{{ each.msg }}</td>
          <td>
            {% if each.status == 0 %}
            <a href="/push/{{ each.id }}/view">查看</a>
            <a data-method="post" href="/push/{{ each.id }}/accept">接受</a>
            <a data-method="post" href="/push/{{ each.id }}/refuse">拒绝</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endif %}

<script>
  seajs.use('jquery', function() {
    $("a[data-method]").on("click", function() {
      var $this = $(this);
      $('<form></form>').attr('method', $this.data('method')).attr('action', $this.attr('href')).submit();
      return false;
    })
  })
</script>
{% endblock %}
