{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ static_url('my.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
{{ utils.header() }}

<section>
  <div class="container">
    <h2>
      我的发布
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>来自</th>
          <th>创建时间</th>
          <th>最近修改时间</th>
          <th>最近成功时间</th>

          <th>发布到</th>
          <th>最近修改时间</th>
          <th>最近成功时间</th>

          <th>状态</th>
          <th>留言</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for each in pushs %}
        <tr>
          <td>
            {% if each.from_user_email %}
            <a href="javascript:void(0)" data-container="body" data-toggle="popover" data-content="{{ each.from_user_email }} {{ '✔︎' if each.from_user_email_verified }}">{{ each.from_user_name or '无名氏' }}</a>
            {% else %}
            {{ each.from_user_name or '无名氏' }}
            {% endif %}
            的
            <a href="javascript:void(0)" data-toggle="popover" title="{{ each.from_tpl.siteurl }}" data-content="{{ each.from_tpl.note }}">{{ each.from_tpl.sitename or "未命名" }}</a>
          </td>
          <td>{{ format_date(each.from_tpl.ctime) }}</td>
          <td>{{ format_date(each.from_tpl.mtime ) }}</td>
          <td>{{ format_date(each.from_tpl.last_success) }}</td>

          <td>
            {% if each.to_user_email %}
            <a href="javascript:void(0)" data-container="body" data-toggle="popover" data-content="{{ each.to_user_email }} {{ '✔︎' if each.to_user_email_verified }}">{{ each.to_user_name or '无名氏' }}</a>
            {% else %}
            {{ each.to_user_name or '无名氏' }}
            {% endif %}
            的
            <a href="javascript:void(0)" data-toggle="popover" title="{{ each.to_tpl.siteurl }}" data-content="{{ each.to_tpl.note }}">{{ each.to_tpl.sitename or "新模版" }}</a>
          </td>
          <td>{{ format_date(each.to_tpl.mtime ) }}</td>
          <td>{{ format_date(each.to_tpl.last_success) }}</td>

          <td>{{ {0:'待处理', 1:'取消', 2:'拒绝', 3:'成功'}[each.status] }}</td>
          <td>
            <a href="javascript:void(0)" data-placement="left" data-container="body" data-toggle="popover" data-content="{{ each.msg }}">{{ each.msg | truncate(3, True) }}</a>
          </td>
          <td>
            {% if each.status == 0 %}
            <a data-method="post" href="/push/{{ each.id }}/cancel">取消</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% if pulls %}
<section>
  <div class="container">
    <h2>
      我的审核
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>来自</th>
          <th>创建时间</th>
          <th>最近修改时间</th>
          <th>最近成功时间</th>

          <th>发布到</th>
          <th>最近修改时间</th>
          <th>最近成功时间</th>

          <th>状态</th>
          <th>留言</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for each in pulls %}
        <tr>
          <td>
            {% if each.from_user_email %}
            <a href="javascript:void(0)" data-container="body" data-toggle="popover" data-content="{{ each.from_user_email }} {{ '✔︎' if each.from_user_email_verified }}">{{ each.from_user_name or '无名氏' }}</a>
            {% else %}
            {{ each.from_user_name or '无名氏' }}
            {% endif %}
            的
            <a href="javascript:void(0)" data-toggle="popover" title="{{ each.from_tpl.siteurl }}" data-content="{{ each.from_tpl.note }}">{{ each.from_tpl.sitename or "未命名" }}</a>
          </td>
          <td>{{ format_date(each.from_tpl.ctime) }}</td>
          <td>{{ format_date(each.from_tpl.mtime ) }}</td>
          <td>{{ format_date(each.from_tpl.last_success) }}</td>

          <td>
            {% if each.to_user_email %}
            <a href="javascript:void(0)" data-container="body" data-toggle="popover" data-content="{{ each.to_user_email }} {{ '✔︎' if each.to_user_email_verified }}">{{ each.to_user_name or '无名氏' }}</a>
            {% else %}
            {{ each.to_user_name or '无名氏' }}
            {% endif %}
            的
            <a href="javascript:void(0)" data-toggle="popover" title="{{ each.to_tpl.siteurl }}" data-content="{{ each.to_tpl.note }}">{{ each.to_tpl.sitename or "新模版" }}</a>
          </td>
          <td>{{ format_date(each.to_tpl.mtime ) }}</td>
          <td>{{ format_date(each.to_tpl.last_success) }}</td>

          <td>{{ {0:'待处理', 1:'取消', 2:'拒绝', 3:'成功'}[each.status] }}</td>
          <td>
            <a href="javascript:void(0)" data-placement="left" data-container="body" data-toggle="popover" data-content="{{ each.msg }}">{{ each.msg | truncate(3, True) }}</a>
          </td>
          <td>
            {% if each.status == 0 %}
            <a href="/push/{{ each.id }}/view">查看</a>
            <a data-method="post" href="/push/{{ each.id }}/accept">接受</a>
            <a data-method="post" href="/push/{{ each.id }}/refuse">拒绝</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endif %}

<script>
  $(function() {
    $('[data-toggle=popover]').popover({
      trigger: 'hover'
    });
  })
</script>
{{ utils.apost() }}
{% endblock %}
