{% if note %}<div class="alert alert-info">{{ note }}</div>{% endif %}

{% macro varname_format(var) %}
{%- set var_lower = var.lower() %}
{%- if var_lower == 'username' %}用户名
{%- elif var_lower == 'password' %}密码
{%- else %}{{ var }}
{%- endif -%}
{% endmacro %}

{% macro var_tips(var) %}
{% set var_lower = var.lower() %}
{% if var_lower == 'cookie' %}<p class="block-heler">将
  <a href="javascript:window.prompt('将以下内容复制粘贴回 Cookie 输入框中。', document.cookie)" onclick="alert('请将我拖拽到书签栏');return false;">这个脚本</a> 拖拽到书签栏，打开网站，点击书签，提取弹出框的内容。</p>
{% endif %}
{% endmacro %}

{% for var in variables %}
<div class="form-group">
  <label class="control-label" for="input-{{ var }}">{{ varname_format(var) }}</label>
  <input type="text" class="form-control" name="{{ var }}" id="input-{{ var }}" placeholder="请输入 {{ var }}">
  {{ var_tips(var) }}
</div>
{% endfor %}
