{% extends "base.html" %}

{% block addheader %}
<link href="{{ static_url('my.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<header>
  <div class="container">
    <a href="/" class="btn btn-default pull-left index">首页</a>
    <h1 class="text-center">
      <a href="/">签到</a>
      <sup>alpha</sup>
    </h1>
    <a href="/logout" class="btn btn-default pull-right logout">登出</a>
    <div class="clearfix"></div>
  </div>
</header>

<section>
  <div class="container">
    <h2>
      任务执行日志
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>时间</th>
          <th>状态</th>
          <th>日志</th>
        </tr>
      </thead>
      <tbody>
        {% for log in tasklog %}
        <tr>
          <td>{{ format_date(log.ctime) }}</td>
          <td>
            {% if log.success %}
            <span class="text-success">成功</span>
            {% else %}
            <span class="text-danger">失败</span>
            {% endif %}
          </td>
          <td>{{ log.msg }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
