{% extends "base.html" %}

{% block head %}
<link href="{{ static_url('components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ static_url('har/editor.css') }}" rel="stylesheet" type="text/css">
<script>
  seajs.use('/static/har/editor', function(main) {
    main.init()

    if (location.href.indexOf("?dev") > 0) {
      $.get('/static/www.smzdm.com.har', function(data) {
        data = main.analysis.analyze(angular.fromJson(data), {
          username: 'binux',
        });
        angular.element('#upload-har').scope().loaded({
          har: data,
          env: {
            username: 'binux',
            }
        });
      })
    }
  });
</script>
{% endblock %}

{% block body %}
{% raw %}
<div class="container">
  <div class="row" ng-controller="EditorCtrl">
    <div class="col-md-3" id="editor-switch">
      <!--checked switch-->
      <div class="list-group">
        <a ng-class="{active: !filter.checked && !filter.recommend}" class="list-group-item" href="#" ng-click='filter.recommend=undefined;filter.checked=undefined'>
          <span class="badge">{{ har.log.entries.length }}</span>
          所有请求
        </a>
        <a ng-class="{active: filter.checked}" class="list-group-item" href="#" ng-click='filter.recommend=undefined;filter.checked=true'>
          <span class="badge">{{ (har.log.entries|filter:{checked:true}).length }}</span>
          已选择请求
        </a>
        <a ng-class="{active: filter.recommend}" class="list-group-item text-right" href="#" ng-click='recommend();filter.recommend=true;filter.checked=undefined'>
          推荐关联请求 &gt;
        </a>
      </div>

      <!-- mime type -->
      <div class="list-group">
        <a href="#" class="list-group-item"
          ng-repeat="(name, key) in {
            All: undefined,
            Documents: 'document',
            Styles: 'style',
            Images: 'image',
            Media: 'media',
            Others: 'other'
          }"
          ng-class="{active: filter.filter_mimeType == key}"
          ng-click="filter.filter_mimeType = key">
          <span class="badge">{{ (har.log.entries | filter: badge_filter({filter_mimeType: key})).length }}</span>
          {{ name }}
        </a>
      </div>

      <!-- xhr && cookie -->
      <div class="list-group">
        <a href="#" class="list-group-item"
          ng-class="{active: filter.filter_xhr}"
          ng-click="filter.filter_xhr = filter.filter_xhr ? undefined : true">
          <span class="badge">{{ (har.log.entries | filter: badge_filter({filter_mimeType: filter.filter_mimeType, filter_xhr: true})).length }}</span>
          XMLHttpRequest
        </a>
        <a href="#" class="list-group-item"
          ng-class="{active: filter.filter_set_cookie}"
          ng-click="filter.filter_set_cookie = filter.filter_set_cookie ? undefined : true">
          <span class="badge">{{ (har.log.entries | filter: badge_filter({filter_mimeType: filter.filter_mimeType, filter_set_cookie: true})).length }}</span>
          Set-Cookie
        </a>
        <a href="#" class="list-group-item"
          ng-class="{active: filter.filter_variables}"
          ng-click="filter.filter_variables = filter.filter_variables ? undefined : true">
          <span class="badge">{{ (har.log.entries | filter: badge_filter({filter_mimeType: filter.filter_mimeType, filter_variables: true})).length }}</span>
          请求中有变量
        </a>
      </div>
    </div>

    <!-- entries list -->
    <div class="col-md-9" id="entries">
      <div class="list-group">
        <li class="list-group-item pageref"
          ng-repeat-start="entry in har.log.entries | filter: filter | filter: track_item()"
          ng-if="filted[$index-1].pageref != entry.pageref">
          {{ entry.pageref }}
        </li>

        <a href="#" class="list-group-item entry" ng-repeat-end>
          <div class="entry-checked">
            <input ng-model="entry.checked" type="checkbox">
          </div>
          <span class="label pull-right {{ status_label(entry.response.status) }}">{{ entry.response.status }}</span>
          <span class="label pull-right label-info" ng-show="entry.filter_set_cookie">set-cookie</span>
          <span class="label pull-right label-warning" ng-show="entry.filter_xhr">XHR</span>
          <span class="label pull-right label-primary" ng-repeat="variable in variables_in_entry(entry)"><span ng-non-bindable>{{ </span>{{ variable }}<span ng-no-bindable> }}</span></span>
          <span class="label label-default pull-right" ng-repeat="tag in entry.check_tag">{{ tag }}</span>
          <span class="label" ng-class="{
            'label-warning': (entry.request.method != 'GET'),
            'label-primary': (entry.request.method == 'GET')
            }">{{ entry.request.method }}</span>
          <span class="entry-url" ng-click="edit(entry)">{{ entry.request.url }}</span>
        </a>

        <li class="list-group-item" ng-if="filted.length == 0">过滤条件下没有请求</li>
      </div>
    </div>

    <!--edit entry modal-->
    <div class="modal fade" id="edit-entry" ng-controller="EntryCtrl">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <ul class="nav nav-pills">
              <li ng-class="{active: panel=='request'}">
                <a href="javascript:void(0)" ng-click="panel='request'">Request</a>
              </li>
              <li ng-class="{active: panel=='response'}">
                <a href="javascript:void(0)" ng-click="panel='response'">Response</a>
              </li>
              <li ng-class="{active: panel=='test'}">
                <a href="javascript:void(0)" ng-click="panel='test'">测试</a>
              </li>
              <li ng-class="{active: panel=='preview-headers'}" ng-show="preview">
                <a href="javascript:void(0)" ng-click="panel='preview-headers'">结果 Headers</a>
              </li>
              <li ng-class="{active: panel=='preview'}" ng-show="preview">
                <a href="javascript:void(0)" ng-click="panel='preview'">预览</a>
              </li>
            </ul>
          </div>

          <!-- request -->
          <div class="modal-body" ng-show="panel=='request'">
            <!-- url and method -->
            <dl class="dl-horizontal">
              <dt>Request URL</dt>
              <dd>
                <div class="contentedit-wrapper" ng-bind-html="variables_wrapper(entry.request.url, 'request url')"></div>
                <div contenteditable style="display: none" ng-model="entry.request.url"></div>
              </dd>
              <dt>Request Method</dt>
              <dd contenteditable data-ph="request method" ng-model="entry.request.method"></dd>
            </dl>

            <!-- query string -->
            <details open onclick="return false">
              <summary>
                Query String Parameters
                <a class="btn btn-info btn-xxs"
                  ng-click="entry.request.queryString.unshift({name: ':key', value: ':value'})">ADD</a>
              </summary>
              <div editablelist="entry.request.queryString"></div>
            </details>

            <!-- headers -->
            <details open onclick="return false">
              <summary>
                Request Headers
                <a class="btn btn-info btn-xxs"
                  ng-click="entry.request.headers.unshift({name:'', value:'', checked: true})">ADD</a>
              </summary>
              <div editablelist="entry.request.headers" filter="{name: '!Cookie'}"></div>
            </details>
            <!-- headers end -->


            <!-- cookies -->
            <details open onclick="return false">
              <summary>
                Cookies
                <a class="btn btn-info btn-xxs"
                  ng-click="entry.request.cookies.unshift({name:'', value:'', checked:true})">ADD</a>
              </summary>
              <div editablelist="entry.request.cookies"></div>
            </details>
            <!-- cookie end -->

            <!--post data-->
            <details open onclick="return false" ng-if="entry.request.postData.text">
              <summary>
                Request Payload
                <a class="btn btn-info btn-xxs" ng-if="entry.request.postData.params"
                  ng-click="entry.request.postData.params.unshift({name:'', value:''})">ADD</a>
              </summary>
              <pre class="contentedit-wrapper" ng-bind-html="variables_wrapper(entry.request.postData.text)" ng-if="!entry.request.postData.params"></pre>
              <textarea contenteditable style="width: 100%" rows="5" onfocus="$(this).height($(this)[0].scrollHeight);" ng-model="entry.request.postData.text" ng-if="!entry.request.postData.params"></textarea>
              <div ng-if="entry.request.postData.params">
                <div editablelist="entry.request.postData.params"></div>
              </div>
            </details>
          </div>
          <!-- /.reqeust -->

          <!-- response -->
          <div class="modal-body" ng-show="panel=='response'">
            <dl class="dl-horizontal">
              <dt>Status Code</dt>
              <dd><span class="label {{ status_label(entry.response.status) }}">{{ entry.response.status }}</span></dd>
            </dl>
            <details open onclick="return false">
              <summary>Response Headers</summary>
              <dl class="dl-horizontal">
                <dt ng-repeat-start="header in entry.response.headers">{{ header.name }}</dt>
                <dd ng-repeat-end>{{ header.value }}</dd>
              </dl>
            </details>
            <details open onclick="return false">
              <summary>Cookies</summary>
              <dl class="dl-horizontal">
                <dt ng-repeat-start="cookie in entry.response.cookies">{{ cookie.name }}</dt>
                <dd ng-repeat-end>{{ cookie.value }}</dd>
              </dl>
            </details>
          </div>
          <!-- /.response -->

          <!-- test -->
          <div class="modal-body panel-test" ng-show="panel=='test'">
            <div class="alert alert-danger" role="alert">
              <strong>Oh snap!</strong> Change a few things up and try submitting again.
            </div>
            <details open onclick="return false">
              <summary>
                Variables
                <a class="btn btn-info btn-xxs" ng-click="env.unshift({name:'', value:''})">ADD</a>
              </summary>
              <div editablelist="env"></div>
            </details>
            <details open onclick="return false">
              <summary>
                Cookies
                <a class="btn btn-info btn-xxs" ng-click="session = []">CLEAR</a>
              </summary>
              <dl class="dl-horizontal">
                <dt ng-repeat-start="cookie in session">{{ cookie.name }}</dt>
                <dd ng-repeat-end>{{ cookie.value }}</dd>
              </dl>
            </details>
          </div>
          <!-- /.test -->

          <!-- preview-headers -->
          <div class="modal-body" ng-show="panel=='preview-headers'">
            <dl class="dl-horizontal">
              <dt>Request URL</dt>
              <dd>{{ preview.request.url }}</dd>
              <dt>Request Method</dt>
              <dd>{{ preview.request.method }}</dd>
              <dt>Status Code</dt>
              <dd><span class="label {{ status_label(preview.response.status) }}">{{ preview.response.status }}</span></dd>
            </dl>

            <!-- request header -->
            <details open>
              <summary>Request Headers</summary>
              <dl class="dl-horizontal">
                <dt ng-repeat-start="header in preview.request.headers">{{ header.name }}</dt>
                <dd ng-repeat-end>{{ header.value }}</dd>
              </dl>
            </details>
            <!-- request payload -->
            <details open ng-if="preview.request.postData.text">
              <summary>Request Payload</summary>
              <pre ng-bind-html="variables_wrapper(preview.request.postData.text)" ng-if="!preview.request.postData.params"></pre>
              <dl class="dl-horizontal" ng-if="preview.request.postData.params">
                <dt ng-repeat-start="each in preview.request.postData.params">{{ each.name }}</dt>
                <dd ng-repeat-end>{{ each.value }}</dd>
              </dl>
            </details>
            <!-- request query string -->
            <details open ng-if="!preview.reqeust.postData.text && preview.request.queryString.length > 0">
              <summary>Query String Parameters</summary>
              <dl class="dl-horizontal">
                <dt ng-repeat-start="each in preview.request.queryString">{{ each.name }}</dt>
                <dd ng-repeat-end>{{ each.value }}</dd>
              </dl>
            </details>

            <!-- response headers -->
            <details open>
              <summary>Response Headers</summary>
              <dl class="dl-horizontal">
                <dt ng-repeat-start="each in preview.response.headers">{{ each.name }}</dt>
                <dd ng-repeat-end>{{ each.value }}</dd>
              </dl>
          </div>
          <!-- /.preview-headers -->

          <!-- preview -->
          <div class="modal-body panel-preview"
            ng-if="preview.response.content.text" ng-show="panel=='preview'">
            <iframe sandbox></iframe>
          </div>
          <!-- /.preview -->

          <!-- footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-loading-test="Loading..."
              ng-show="panel=='test' || panel=='preview' || panel=='preview-headers'"
              ng-click="do_test()">测试</button>
            <button type="button" class="btn btn-primary" data-loading-text="Saving..." data-dismiss="modal">Save</button>
          </div>
          <!-- /.footer -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

  <!-- upload modal -->
  <div class="modal fade" id="upload-har" ng-controller="UploadCtrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">上传HAR</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert" style="display: none;">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
          </div>
          <div class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-3 control-label">上传 HAR 文件</label>
              <div class="col-sm-9">
                <input type="file">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">用户名</label>
              <div class="col-sm-9">
                <input ng-model="username">
                <p class="help-block">登录目标网站时输入的用户名，用于变量替换</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">密码</label>
              <div class="col-sm-9">
                <input ng-model="password">
                <p class="help-block">登录目标网站时输入的密码，用于变量替换</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-loading-text="Loading..." ng-click="upload()">上传</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
{% endraw %}
{% endblock %}
