/* vim: set et sw=2 ts=2 sts=2 ff=unix fenc=utf8: */
/* Author: Binux<i@binux.me> */
/*         http://binux.me */
/* Created on 2014-08-01 19:18:00 */
.container {
  margin-top: 10px;
}
.pageref {
  color: #31708f;
  background-color: #d9edf7;
}
.entry {
  padding-left: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.entry-checked {
  position: absolute;
  border-right: 1px solid #ddd;
  padding: 0 12px;
  left: 0;
}
#edit-entry .modal-header,
#edit-entry table,
#edit-entry .modal-body {
  word-break: break-all;
}
#edit-entry table th:not(:last-child),
#edit-entry table td:not(:last-child) {
  min-width: 150px;
}
#edit-entry .entry-method {
  display: inline-block;
}
#edit-entry .entry-url {
  padding: .2em .6em .1em;
}
#edit-entry .table caption {
  font-size: 120%;
  font-weight: bold;
  padding: .2em;
  color: #3c763d;
  background-color: #dff0d8;
}
[contenteditable]:empty:not(:focus):before {
  color: #777;
  content: attr(data-ph);
}
