/* vim: set et sw=2 ts=2 sts=2 ff=unix fenc=utf8: */
/* Author: Binux<i@binux.me> */
/*         http://binux.me */
/* Created on 2014-08-01 19:18:00 */


.container {
  margin-top: 10px;
}

.pageref {
  color: #31708f;
  background-color: #d9edf7;
}

.entry {
  padding-left: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry-checked {
  position: absolute;
  border-right: 1px solid #ddd;
  padding: 0 12px;
  left: 0;
}

#edit-entry {
  .modal-header, table, .modal-body {
    word-break: break-all;
  }

  table th:not(:last-child), table td:not(:last-child) {
    min-width: 150px;
  }

  .entry-method {
    display: inline-block;
  }

  .entry-url {
    padding: .2em .6em .1em;
  }

  .table caption {
    font-size: 120%;
    font-weight: bold;
    padding: .2em;
    color: #3c763d;
    background-color: #dff0d8;
  }
}

[contenteditable]:empty:not(:focus):before {
  color: #777;
  content:attr(data-ph)
}
